html {
  position: relative;
  min-height: 100%; }

body {
  background: #EC8535;
  margin-bottom: 60px; }
  body a {
    color: #000000; }

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 20px 0; }
  .site-footer p {
    margin-left: 20px; }

.search {
  margin-left: auto;
  display: inline; }

.btn-outline-info {
  border-color: #292b2c;
  color: white; }
  .btn-outline-info:hover {
    background-color: white;
    color: black;
    border-color: #292b2c; }

.searchpage {
  margin-bottom: 50px; }

img.alignright {
  float: right;
  margin: 0 0 1em 1em; }

img.alignleft {
  float: left;
  margin: 0 1em 1em 0; }

img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }
